#main {
  width: 100%;
  height: 100%; }
  #main nav {
    font-family: "Just Another Hand", Helvetica, sans-serif; }
    #main nav ul {
      display: inline-block;
      list-style-type: none;
      padding: 10px 10px; }
      #main nav ul li {
        font-size: 30px; }
        #main nav ul li a {
          display: block;
          line-height: 120%;
          padding: 15px 8px;
          color: white; }

#content {
  text-align: center; }

#biography {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;
  color: white;
  line-height: 160%;
  letter-spacing: 0.5px; }
  #biography h2 {
    font-family: futura;
    color: #ff9900;
    font-size: 80px; }
  #biography a {
    font-family: futura;
    font-size: 14px;
    color: #ffad33; }

#sometime_in_august p, #sometime_in_august h5 {
  padding-top: 50px; }
#sometime_in_august ul li {
  display: inline-block;
  list-style-type: none; }
#sometime_in_august blockquote p {
  font-family: "Cookie", Helvetica, sans-serif;
  text-align: center;
  font-size: 50px; }
#sometime_in_august blockquote footer {
  float: right; }
  #sometime_in_august blockquote footer a {
    font-family: futura;
    font-size: 16px;
    color: #ffad33; }

#letters_from_monte p, #letters_from_monte table {
  padding-top: 80px; }
#letters_from_monte blockquote p {
  font-family: "Cookie", Helvetica, sans-serif;
  text-align: center;
  font-size: 70px; }
#letters_from_monte blockquote footer {
  float: right; }
  #letters_from_monte blockquote footer a {
    font-family: futura;
    font-size: 16px;
    color: #ffad33; }
#letters_from_monte span {
  padding-top: 75px; }
#letters_from_monte table td {
  border: 5px;
  padding-top: 80px; }

#two_lovers p {
  padding-top: 50px; }
#two_lovers ul li {
  display: inline-block;
  list-style-type: none; }

#the_realm h4, #the_realm p {
  color: black;
  font-family: "Just Another Hand", Helvetica, sans-serif; }

.float_right {
  float: right; }

.vidoe_pages {
  background: black;
  opacity: 0.95;
  text-align: center;
  padding: 80px 25px; }
  .vidoe_pages iframe {
    height: 500px;
    width: 700px; }

.content_pages {
  background: black;
  color: white;
  padding: 80px 25px;
  line-height: 160%;
  letter-spacing: 0.5px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px; }
  .content_pages h2 {
    font-family: futura;
    font-size: 80px;
    color: #ff9900;
    padding: 20px 5px 40px 5px; }
  .content_pages h4 {
    font-family: futura;
    font-size: 50px; }
  .content_pages h5 {
    font-size: 18px; }

a:hover {
  text-decoration: none; }

.stuck {
  top: 50px;
  left: 25px;
  position: fixed;
  z-index: 2; }

.highlight {
  background: #ff9900;
  color: black !important; }

.slide {
  position: relative; }

.slide .inner {
  position: absolute;
  left: 0;
  bottom: 0; }

.display-visible {
  display: visible; }
