#main {
  color: white;
  width: 100%;
  height: 100%;
  background-color: #2b7e7b; }
  #main h1 {
    font-family: "Cookie", Helvetica, sans-serif;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 30px 0 30px; }
  #main nav {
    float: right;
    font-family: "Cookie", Helvetica, sans-serif;
    font-size: 25px; }
    #main nav ul {
      margin-top: -50px;
      margin-right: 30px;
      padding: 0; }
      #main nav ul li {
        display: inline-block;
        font-size: 20px;
        background: white;
        -moz-border-radius: 100px / 90px;
        -webkit-border-radius: 100px / 90px;
        border-radius: 100px / 90px; }
        #main nav ul li a {
          display: block;
          padding: 6px 12px;
          text-decoration: none;
          color: #2b7e7b !important; }

.dropdown-menu {
  margin-top: 0 !important; }

#mid {
  visibility: collapse; }
  #mid li {
    display: inline-block;
    list-style-type: none;
    background: #333333;
    -moz-border-radius: 100px / 90px;
    -webkit-border-radius: 100px / 90px;
    border-radius: 100px / 90px; }
    #mid li a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      color: white !important; }

#content {
  text-align: center;
  font-size: 150%; }
  #content strong {
    font-size: 300%; }

#biography {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px; }
  #biography h2 {
    font-family: "Cookie", Helvetica, sans-serif;
    font-size: 100px; }

#biography {
  background: url("background_patterns/binding_dark/binding_dark_@2X.png") repeat center center fixed;
  opacity: 0.95; }

.even_pages {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 25px;
  background: url("background_patterns/binding_dark/binding_dark_@2X.png") repeat center center fixed;
  opacity: 0.95;
  color: white;
  line-height: 160%;
  letter-spacing: 0.5px;
  vertical-align: middle;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; }
  .even_pages h2 {
    font-family: "Tangerine", cursive; }

.odd_pages {
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 25px;
  line-height: 160%;
  letter-spacing: 0.5px;
  vertical-align: middle;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 14px; }
  .odd_pages h2 {
    font-family: "Cookie", Helvetica, sans-serif;
    font-size: 100px; }
  .odd_pages h4 {
    font-family: "Cookie", Helvetica, sans-serif;
    font-size: 50px; }

#sometime_in_august {
  background: #fba827;
  color: black; }
  #sometime_in_august .img-thumbnail {
    background: #fba827; }
  #sometime_in_august p {
    padding-top: 30px; }

#letters_from_monte {
  background: #16a79d;
  color: #eaf6e3; }
  #letters_from_monte .img-thumbnail {
    background: #eaf6e3; }
  #letters_from_monte p {
    padding-top: 30px; }

#two_lovers {
  background: #ee4b3e;
  color: black; }
  #two_lovers .img-thumbnail {
    background: #ee4b3e; }
  #two_lovers p {
    padding-top: 30px; }

#the_realm {
  background: #623f96;
  color: white; }
  #the_realm .thumbnail {
    background: black; }

#contact_page h3 {
  font-family: "Tangerine", cursive !important;
  font-size: 50px !important; }

h2 {
  margin: 0;
  padding: 20px 5px 40px 5px;
  text-shadow: 2px 2px 7px; }

#the_realm .pictures_display h4, #the_realm .pictures_display p {
  color: white; }

.stuck {
  top: 15px;
  left: 5px;
  position: fixed;
  z-index: 2; }

.highlight {
  background: #fee202 !important;
  text-color: #90EE90 !important; }

.showUp {
  visibility: visible !important; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #fee202;
  -moz-border-radius: 100px / 90px;
  -webkit-border-radius: 100px / 90px;
  border-radius: 100px / 90px;
  background-image: none;
  filter: none; }

.btn-primary .buttonBackground {
  color: #fee202; }
