<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Caio Ribeiro | Brazilan Born Filmmaker </title>
  <!-- css of bootstrap and font-awesome -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap-theme.min.css">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/social-buttons.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css">

  <!-- shakecss --> 
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/csshake.min.css" />

  <!-- Google Font --> 
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cookie">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

  <!-- my css -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles.css" />

  <!-- js of bootstrap and waypoint -->
  
  <script src="{{ site.baseurl }}/jquery-2.0.3.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/waypoints/waypoints.min.js"></script>
  <script src="{{ site.baseurl }}/waypoints/shortcuts/sticky-elements/waypoints-sticky.min.js"></script>

  <!-- my js -->
  <script src="{{ site.baseurl }}/myscript.js"></script>

</head>
<body>

  <div id="main" >
  
    <header>

      <h1 class=""><strong>True<img src="pictures/ahau_white_transparent.png" height="65" width="65">Myth</strong></h1>

      <nav>
        <ul>
          <li id="caio"><a href="#biography">Caio Ribiero</a></li> 
          <li class="dropdown" role="menu">
            <a id="movies_works" class="dropdown-toggle" data-toggle="dropdown" href="#">Movies/Works <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation" id="link_to_sometime" class="text-center"><a tabindex="-1" href="#sometime_in_august">Sometime In August</a></li>
              <li role="presentation" id="link_to_letters" class="text-center"><a tabindex="-1" href="#letters_from_monte">Last Letters From Monte Rosa</a></li>
              <li role="presentation" id="link_to_lovers" class="text-center"><a tabindex="-1" href="#two_lovers">Ballad For Two Lovers</a></li>
              <li role="presentation" id="link_to_realm" class="text-center"><a tabindex="-1" href="#the_realm">The Realm Series</a></li>
            </ul>
          </li>  
          <li id="contact"><a href="#contact_page">Contact</a></li>    
        </ul>
      </nav>
    </header>
    
    <div id="mid">
      <ul class="my-sticky-element">
        <li id="sometime"><a href="#sometime_in_august">Sometime In August</a></li>
        <li id="letters"><a href="#letters_from_monte">Last Letters From Monte Rosa</a></li>
        <li id="lovers"><a href="#two_lovers">Ballad For Two Lovers</a></li>
        <li id="realm"><a href="#the_realm">The Realm Series</a></li>
      </ul>
    </div>


    <div id="content"  >
      <center><img src="pictures/ahau_white_transparent.png" height="600" width="600"><center>
    </div> 
     
    
  </div>

  <div id="biography" class="even_pages">
    <div class="bbb"></div>
    <div class="row">
      <!--<div class="col-md-4">
        <img src="pictures/ahau_black_transparent.png">
      </div>-->

      <div class="col-md-8 col-md-offset-2">
        <h2>Introduction to Caio, the filmmaker</h2>
        <p><strong>
          Caio Ribeiro is a native of Brazil. Caio's first short film, "Ballad for Two Lovers", won the best director's award at the Huy Film Festival in Belgium in YEAR. Caio's first feature film, "Sometime in August", was named an official selection at the Los Angeles Independent Film Festival, the Florida Independent Film Festival, and nominated for the Starfish Award at the Hamptons Film Festival. <br>
          From 1999 to 2004, Caio wrote and served as director of photography for two World War II films, "Letters from the Dead" and "The Fallen". Both films were winners of multiple awards and distributed internationally. In 2007 Caio started working on "The Realm", a series that pays homage to The Twilight Zone.
        </strong></p>
      </div> 
    </div>   
  </div>

  <div id="sometime_in_august" class="odd_pages" >
    

    <div class="col-md-4">

      <h2>Sometime In August</h2>

      <p>
        <strong>A lonely woman hires a private investigator to find out who she really is.</strong> 
      </p>  

      <p>
        Marcia has just been dumped once again. Lonely and desperate, she hires a private investigator to follow and evaluate her in the hopes that can help her recreate herself into someone a man can love. The P.I. watches as a desperate Marcia tries to reinvent herself into a new woman who tries to impress him at any cost and, in the process, starts to fall in love with the real Marcia she is so determined to hide from him.
      </p>


    </div>

    <div class="col-md-4">  
      <img class="img-thumbnail"  src="pictures/sometime_in_august.png" class="img-responsive" alt="Responsive image">
    </div>
      
    <div class="row">
      <div  class="col-md-4">
        <p><strong>Festivals</strong></p>
        <ul>
          <li>Los Angeles Independent Film Festival </li>
          <li>Hamptons International Film Festival (Nominated for Best American Independent Film</li>
          <li>Florida Film Festival</li>
          <li>Ajijic International Film Festival -- Best Actor (Won)</li>
          <li>Sao Paulo International Film Festival</li>
        </ul>
      
      
        <p><strong>Critics</strong></p>
        <ul>
          <li>"A rarity in American Film." NY Times</li>
          <li>"I was swept away by the sheer poetry, by the pacing, by the profundity of the filmmaker's thoughts, and the sublime acting" -Linda Hansen, New York Post</li>
          <li>"A welcome fully adult entry in the youth heavy market." -Weekly Variety</li>
          
        </ul>
      </div> 
      

    </div>

  </div>
  
  <div class="even_pages">
    <iframe src="//player.vimeo.com/video/85853084" width="500" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    <!--<p><a href="http://vimeo.com/85853084">sometime in august clip</a> from <a href="http://vimeo.com/caioribeiro">Caio Ribeiro</a> on <a href="https://vimeo.com">Vimeo</a>.</p>-->
    <p><a href="#" class="btn btn-primary" role="button">Full Movie on Vimeo</a> 
      <a href="http://vimeo.com/36978544" class="btn btn-default" role="button">Watch Director's Cut</a>
      <!-- <iframe src="//player.vimeo.com/video/36978544" width="500" height="331" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the director's cut -->
    </p>
    </p>
  </div>
  
  <div id="letters_from_monte" class="odd_pages">
  
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <h2><center>Last Letters From Monte Rosa</center></h2>

        <p><strong>Life through the eyes of doomed soldiers late in WWII.</strong></p>

        <p>
          Northern Italy, late 1944. A German Army lieutenant finds that his Italian reinforcements are in worse shape than the Germans they are supposed to support, leading to conflict with his Italian counterpart. Harassed by Allied bombardment and local guerilla forcs, the German and Italian lieutenants need to find a way to work things out... before the enemy does it for them.
        </p>

      </div>
    </div>   
    <div class="row">

      <div class="col-md-5 col-md-offset-1">
        <img  class="img-thumbnail" src="pictures/letter_from_monte1.png" class="img-responsive" alt="Responsive image">
      </div>

      <div class="col-md-5 " height="50" width="70">
        <img  class="img-thumbnail" src="pictures/letter_from_monte2.png" class="img-responsive" alt="Responsive image">
      </div>

    </div>  

    <div class="row">

      <div class="col-md-5 col-md-offset-1" >
        <p><strong>Festivals</strong></p>
        <ul>
          <li>Brooklyn International Film Festival -- Best Director (Won)</li>
          <li>Moscow International Film Festival</li>
          <li>Milan International Film Festival (Best Film)</li>
          <li>Breckenridge Film Festival (Best Screenplay)</li>
        </ul>
      </div>   

      <div class="col-md-5" >
        <p><strong>Critics</strong></p>
        <ul>
          <li>"A rarity in American Film." -- NY Times</li>
          <li>"A rich tale of moral complexity." -- Village Voice</li>
          <li>"Excellent rear-guard action film." -- Variety</li> 
        </ul>
      </div>

    </div>


  </div>

  <div class="even_pages">
   <iframe src="//player.vimeo.com/video/86383249" width="500" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

   <!--<iframe src="//player.vimeo.com/video/86387538" width="500" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->

   <p><a href="http://vimeo.com/43221593" class="btn btn-primary" role="button">Full Movie on Vimeo</a>
    <!-- <iframe src="//player.vimeo.com/video/43221593" width="500" height="331" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the movie -->

   <a href="http://vimeo.com/86387538" class="btn btn-default" role="button">More Selected Scene</a>
   
 </p>
  

  </div>

  <div id="two_lovers" class="odd_pages">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        
        <h2>Ballad For Two Lovers</h2>

    
      </div>

      <div class="col-md-5">
        <img class="img-thumbnail" src="pictures/the_two_lovers.png">
      </div>
    </div> 

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>
          A man contemplates about love, life and death while photographing his latest lover, who he's sure is about to give him the boot.
        </strong></p>

        <p>
          Frank is sure Juliette is about to give him the boot. He decides to photograph every inch of her body and keep a file on her for posterity, as he has done with his previous lovers. Juliette, in turn, can't resist toying with his fears, as well as pondering on whether to really leave him or not.
        </p>

        <p><strong>Festivals</strong></p>
        <ul>
          <li>Williamsburg Film Festival</li>
          <li>Belgium Film Festival (Best Director)</li>
        </ul>
      </div>
    </div>    
  </div>

  <div class="even_pages">
    <iframe src="//player.vimeo.com/video/86161571" width="500" height="286" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    <p><a href="http://vimeo.com/86161571" class="btn btn-primary" role="button">Watch on Vimeo</a>
  </div>
  
  <div id="the_realm" class="odd_pages">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>The Realm Series</h2>
        <p>
          <strong>A growing number of reports suggest some people who go through extreme trauma develop the ability to tap into the memories of others who have gone through similar life changing events.</strong><br>

          These individuals dwell in a world where past and present are one, where reality and fantasy collide, and where men bleed from the wounds they inflict on others.

        </p>
      </div>
    </div>  
    
    
    <div class="row pictures_display">
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <div class="thumbnail"> 
          <img src="pictures/realm_the_carrier.png">
          <div class="caption">
            <h4>The Carrier of Time</h4>
            <p>fdsjk sdfjhsakj ascbjsb ahkh ancnsakjnc asdfjhasjdk asckb sdjfkhask ajsdhfja skjhfkasdhfa sdjksava asckjsa</p>
            <p><a href="http://vimeo.com/37438862" class="btn btn-primary" role="button">Full Movie on Vimeo</a> 
              <!-- <iframe src="//player.vimeo.com/video/37438862" width="500" height="331" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the movie -->
              <a href="http://vimeo.com/86383253" class="btn btn-default" role="button">Selected Scene</a>
              <!-- <iframe src="//player.vimeo.com/video/86383253" width="500" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the clip--> 
            </p>
            
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-5">
        <div class="thumbnail"> 
          <img src="pictures/realm_guilty.png">
          <div class="caption">
            <h4>Guilty As Charged</h4>
            <p>fskdhf fhjsdkfh sfkjsd sbcb shfha wherhkw sbfjsdb sbfks ahsdkfhk afdjksfs asbjsab asdjfh shf sjcnks</p>
            <p><a href="http://vimeo.com/37835473" class="btn btn-primary" role="button">Full Movie on Vimeo</a> 
              <!-- <iframe src="//player.vimeo.com/video/37835473" width="500" height="331" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the movie -->
              <a href="http://vimeo.com/86383248" class="btn btn-default" role="button">Selected Scene</a>
              <!-- <iframe src="//player.vimeo.com/video/86383248" width="500" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the clip -->
            </p>
              
          </div>
        </div>
      </div>
    </div>


    <div class="row pictures_display">  
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <div class="thumbnail"> 
          <img src="pictures/realm_where.png">
          <div class="caption">
            <h4>When And Where</h4>
            <p>fdsij fdhsjfk sdfhjsdk fhjsdhfjs sdfkjhs fjdbbsd hfksdhf erhw bdbj sfhjdk sdjfskjsjak sfjdhfkjaajdf dfhjshf</p>
            <p><a href="http://vimeo.com/38711624" class="btn btn-primary" role="button">Full Movie on Vimeo</a>
              <!-- <iframe src="//player.vimeo.com/video/38711624" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the movie -->
               <a href="http://vimeo.com/86383255" class="btn btn-default" role="button">Selected Scene</a>
               <!-- <iframe src="//player.vimeo.com/video/86383255" width="500" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the clip--> 
             </p>
          </div>
        </div>
      </div> 

      <div class="col-sm-6 col-md-5 ">
        <div class="thumbnail"> 
          <img src="pictures/realm_wake_up.png">
          <div class="caption">
            <h4>Wake Up In New York</h4>
            <p>Dfkhsdhf fhdjkfhkd dshfdfd fdjhhf sfdjk fdskfh vdk shkj adkfjb aeirh fdjkbc asjfbck acnbasdlf sdfjsa ajsdfj</p>
            <p><a href="http://vimeo.com/38289320" class="btn btn-primary" role="button">Full Movie on Vimeo</a>
              <!-- <iframe src="//player.vimeo.com/video/38289320" width="500" height="331" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> The link to the movie -->
             <a href="http://vimeo.com/85853086" class="btn btn-default" role="button">Selected Scene</a>
             <!-- <iframe src="//player.vimeo.com/video/85853086" width="500" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> --> 
           </p>
            
          </div>
        </div>
      </div>

    </div>  
  </div>
   
  <div id="contact_page" class="even_pages">
    <h3 ><small>Follow </small><strong class="shake shake-constant">True<img src="pictures/ahau_white_transparent.png" height="65" width="65">Myth </strong> <small>on</small></h3>
    <div id="bottom-icons">
      <button class="btn btn-facebook" ><i class="fa fa-facebook"></i></button>
      <button class="btn btn-twitter" ><i class="fa fa-twitter"></i></button>
      <button class="btn btn-linkedin" ><i class="fa fa-linkedin"></i></button>
      <button class="btn btn-instagram" ><i class="fa fa-instagram"></i></button>
      <button class="btn btn-tumblr" ><i class="fa fa-tumblr"></i></button>
      <button class="btn btn-instagram" ><i class="fa fa-instagram"></i></button>
      <button class="btn btn-youtube" ><i class="fa fa-youtube"></i></button>
    </div>
    
  </div> 


 </body>
















 </html>